# STATISTIC

HYPOTHESIS =making a guess(not wild guess)based on assumption without scientific proof or explaining the situation based on reasonable assumption

1 null hypothesis= H0=.decision always lead to status question .current status/assumption doesn't change.

2 alternate hypothesis=Ha>decision always lead to opposite of H0

ONE TAIL AND TWO TAIL TESTS
 one tail test
1 LEFT tail test= ex, car mileage test
H0= all our car avg mileage greater than 25kmpl
Ha= avg mileage is less than 25kmpl

left tailed test : the alternate hypothesis contains the "<" sign

RIGHT TAILED TEST:
H0 :our new home delivery method reducres delivery time
Ha: new method will increase the delivery time

 right tailed test: the alternative hypothesis contain the ">" sign
 
 TWO TAILED TEST
 
 ex: the difference in car mileage when drove by two diff persons
 
 two tailed test: the alternative hypothesis containsthe "=/" sign
 
 
 problem 
 
 a car manufacture company claims mileage of all car is 25kmpl. the population sd is known fro the past experience to be 1.5kmpl.a car rental company wants to test the null hypothesis that the avg mileage is atleast 25kmpl.car rental company drove 30 car(sample) of the same car and recorded each car mileage. the avg mileage of the sample tourned to be 24.2kmpl.
 test the null hypothesis?
 
 H0>=25
 Ha<25

In [2]:
import numpy as np

In [3]:
mean=25
sample_mean=24.2
std=1.5
n=30
z=(sample_mean-mean)/(std/np.sqrt(30))
z

-2.921186973360889

In [3]:
# using statistical tool
import scipy.stats as st
import numpy as np
p_value= st.norm.cdf(sample_mean,loc=mean,scale=std/np.sqrt(30))
p_value

NameError: name 'sample_mean' is not defined

#### IMPORTANT POINT

1 standard alpha level=0.05
2 if p-value is <0.05 then we reject null hypothesis(H0)
3 if p-value is >0.05 then we failed to reject the H0

conclusion

as the p-value is less than alpha (0.05),we reject the reject the null hypothesis(mileage>=25kmpl).which also mean that ,all the cars do not give 25 mileage so rental company will not buy the cars.

TYPE 1 ERROR

if h0 is true and you reject ho,in our ex if avg car mileage is really 25 or >25 kmpl and rental company rejects it.it s type 1 error

TYPE 2 ERROR

if h0 is false and you failed to reject h0. if avg car mileage is really <25kmpl but rental company buying car (failed to reject h0).its type 2 error.

STATISTICAL TOOLS
1 Ttest or student's test
2 ANOVA
3 Chi-square

conduct t test when std is not known

In [4]:
import pandas as pd

In [5]:
hyp= pd.read_csv('https://raw.githubusercontent.com/training-ml/Files/main/Hypothesis%20ttest.csv')

In [3]:
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

a teacher want to teach student for competitive exam . she collected sample of students marks from diff school and based on her past experience she believe that, this type of student will score more than 60 marks in the exam .now she want to conduct hypothesis test on the marks.
h0= mu>=60
ha=mu<60

In [4]:
hyp['Math1'].mean()

52.645

In [5]:
alpha=.05
Xbar=52.645
mu=60

In [6]:
#1 sample t test
import scipy.stats as st
st.ttest_1samp(hyp.Math1,mu)

Ttest_1sampResult(statistic=-11.102736525713398, pvalue=1.3339158110547646e-22)

pvalue=00000(21times)1333
2sample t test
independent sample
paired sample

In [7]:
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

In [13]:
hyp['Gender'].value_counts()

1    109
0     91
Name: Gender, dtype: int64

In [15]:
#how to subset the data on gender
hyp[hyp['Gender']==1].Math1.head()

1     53
92    65
93    52
94    46
95    61
Name: Math1, dtype: int64

In [17]:
#independent sample
t,p=st.ttest_ind(hyp[hyp['Gender']==1].Math1,hyp[hyp['Gender']==0].Math1)
p

0.6800544974232143

In [6]:
#paired sample
t,p=st.ttest_rel(hyp.Math1,hyp.Math2)
p

0.1767652560550735

there is an another test which is more than 2 sample ttest but for each ttest we allow 5% error(alpha).so if we conduct more than 2 sample ttest we are adding 5% error for each extra sample ttest.in order to resolve the problem we go for ANOVA test (analysis of variance)

ANOVA(analysis of variance)
used to compare difference of means among more than 2 groups.ANOVA compare the amount of variation between groups with the amount of variation witin groups

   :null hypothesis, typically is that all means are equal
   : the independent variable are categorical
   : dependent variable are continuous
   
 F value
 sample means of between groups/sample means within groups
 
 HYPOTHESIS CONSTRUCTION
 
 the null hypothesis for ANOVA says that , avg of dependent variable are same for all the given grops.
     alternate hypothesis says that mean of dependent variable are not same for the given groups
     
     
     
     :h0= muA =muB =muC
     :ha= not all are equal
     
     
     
     steps
     1 cal the mean of each semester 
     2 cal the grand mean
     3 variation between within
     4 cal the mean squared variance of between and within
     5 cal F statics and corresponding p-value

In [7]:
import pandas as pd
hyp=pd.read_csv('https://raw.githubusercontent.com/training-ml/Files/main/Semester%20marks.csv')
hyp.sample(20)

     Student_ID  Semester  Total_Marks
117         118         2          359
99          100         2          468
52           53         1          435
89           90         2          361
54           55         2          343
88           89         3          320
37           38         2          332
168         169         2          440
23           24         2          473
59           60         3          478
42           43         2          309
180         181         2          357
108         109         1          414
26           27         2          473
70           71         1          459
169         170         3          397
47           48         2          468
102         103         2          370
81           82         3          389
183         184         2          454

As per ANOVA we need to find continous data base on the categorical variable
    > total_marks is continous variable and
    > semester is categorical variable
    
    H0 is the avg marks of each semester are almost equal
    Ha is all are not equal

In [16]:
import numpy as np
import statsmodels.formula.api as sm

In [17]:
mod=sm.ols('Total_Marks~ Semester',data=hyp).fit()
mod

In [19]:
import statsmodels.formula.api as k
aov_table=k.stats.anova_lm(mod)
aov_table

AttributeError: module 'statsmodels.formula.api' has no attribute 'stats'

In [20]:
#lets see manually if the avg marks of each semester are close to each other
# semester 1 avg marks
print('1st sem avg marks=',np.ceil(hyp['Total_Marks'][hyp['Semester']==1].mean()))
print('2nd sem avg marks=',np.ceil(hyp['Total_Marks'][hyp['Semester']==2].mean()))
print('3rd sem avg marks=',np.ceil(hyp['Total_Marks'][hyp['Semester']==3].mean()))

1st sem avg marks= 403.0
2nd sem avg marks= 393.0
3rd sem avg marks= 406.0

# CHI SQUARE TEST
 Goodness of fit to a distribution- this test can be used to determine whether your data obeys a known theoritical probability distribution such as the Normal or POisson distribution

In [3]:
#pizza business
expected(sale)=[25,28,21,30,45,58,57]
observed(sale)=[23,26,25,31,48,63,50]

SyntaxError: cannot assign to function call (4146389066.py, line 2)

lets us understand how to work on this situation
(chi square statistic)x^2=sum((observed-expected)^2/expected)
    
    we will do the hypothesis testing with the significance of 10% (this will be given or you can test according to business interest)

In [4]:
import numpy as np

In [5]:
chi_ind=[np.square(23-25)/25,np.square(26-28)/28,np.square(25-21)/21,np.square(31-30)/30,np.square(48-45)/45,np.square(63-58)/58,np.square(50-57)/57]
print(np.sum(chi_ind))

2.5887788436608763

lets us check chi sq distribution table
    u need to know 2 values
        
        
        1 the degree of freedomfor the chi sq test
        2 thev alpha level for the test (common choices are 0.01,0.05 and 0.10)
        
    degree of freedom = mean u are allowed to choose the data at certain extent, means freedom is given to vary the data
    ex=(n-1)=(7-1)=6
    d.f=6 
    significance level =0.10
    and our score= 2.58
    
    from table we got 10.645
    
    conclusion
    
    as the cirtial score is 10.64 greater then our test score 2.58 .we can not reject null hypothesis, which mean sales man prediction (expectation was correct)

In [6]:
import scipy.stats as st

In [8]:
u=5.5
std=0.8
x=6
st.norm.cdf(x,loc=u,scale=std)

0.7340144709512995